/* ////// lesson /////// */
.lesson-title {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
}
.top-move {
    display: block;
    text-align: right;
}
.item-wrapper {
    width: 1000px;
    margin: 0 auto;
}
.html-item {
    display: inline-block;
    color: #5e7ef0;
    text-decoration: none;
    border: 2px solid #5e7ef0;
    border-radius: 15px;
    padding: 2px 7px;
    margin-bottom: 5px;
    margin-right: 3px;
    font-weight: bold;
    transition: color 1.2s;
}
.html-item:hover {
    background-color: #5e7ef0;
    color: white;
}
.html-property-item {
    display: inline-block;
    color: #40c3e3;
    text-decoration: none;
    border: 2px solid #40c3e3;
    border-radius: 15px;
    padding: 2px 7px;
    margin-bottom: 5px;
    margin-right: 3px;
    font-weight: bold;
    transition: color 1.2s;
}
.html-property-item:hover {
    background-color: #40c3e3;
    color: white;
}
.html-tag-item {
    display: inline-block;
    color: #130671;
    text-decoration: none;
    border: 2px solid #130671;
    border-radius: 15px;
    padding: 2px 7px;
    margin-bottom: 5px;
    margin-right: 3px;
    font-weight: bold;
    transition: color 1.2s;  
}
.html-tag-item:hover {
    background-color: #130671;
    color: white;
}
.css-item {
    display: inline-block;
    color: #8b9b27;
    text-decoration: none;
    border: 2px solid #8b9b27;
    border-radius: 15px;
    padding: 2px 7px;
    margin-bottom: 5px;
    margin-right: 3px;
    font-weight: bold;
    transition: color 1.2s;
}
.css-item:hover {
    background-color: #8b9b27;
    color: white;
}
.pseudo-item {
    display: inline-block;
    color: #cc944e;
    text-decoration: none;
    border: 2px solid #cc944e;
    border-radius: 15px;
    padding: 2px 7px;
    margin-bottom: 5px;
    margin-right: 3px;
    font-weight: bold;
    transition: color 1.2s;
}
.pseudo-item:hover {
    background-color: #cc944e;
    color: white;
}
.css-selector-item {
    display: inline-block;
    color: #da6f04;
    text-decoration: none;
    border: 2px solid #da6f04;
    border-radius: 15px;
    padding: 2px 7px;
    margin-bottom: 5px;
    margin-right: 3px;
    font-weight: bold;
    transition: color 1.2s;
}
.css-selector-item:hover {
    background-color: #da6f04;
    color: white;
}
.sample {
    background-color: rgb(30,30,30);
    color: white;
    padding: 10px 10px 20px 20px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.preview {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 10px 20px 20px;
}
.lesson-subtitle {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    padding: 4px 24px;
    display: inline-block;
    margin: 30px auto;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    letter-spacing: 0.05em;
}
.text {
    color: #15a804;
}
.html {
    color: #5e7ef0;
}
.html-property {
    color: #40c3e3;
}
.html-tag {
    color: #130671;
}
.css {
    color: #8b9b27;
}
.css-selector {
    color: #da6f04;
}
.selector {
    color: #f3db56;
}
.pro {
    color: #60b1dd;
}
.value,.pseudo {
    color: #cc944e;
}
.red {
    color: red;
}
.bold {
    font-weight: bold;
}
.bar-title {
    border-bottom: 1px solid black;
    font-size: 18px;
    font-weight: bold;
    color: #021382;
}
.br {
    margin: 10px 0;
}
